// Backgrounds
$body-bcg: url(/images/bcg-pattern7.jpg);

// Colors
$c-primary: #ffffff;  // white color


// Font colors
$c-fonts-secondary: #0b0a0a;

// Gradients
$menu-item: linear-gradient(0deg, #012138 0%, #006fc1 100%);
$button-primary: linear-gradient(0deg, rgb(227 135 43) 0%, rgb(231, 220, 101) 100%);

// Text-shadows
$h1-shadow: 2px 2px 4px rgba(5, 7, 5, 24.501961);
$gentle-shadow: 0px 0px 0px rgb(5, 7, 5);