<!-- Patička -->

<footer class="footer">

    <div class="footer__block">
        <p class="footer__copyright">&#169; Bc. Karolína Pokorná, 2023</p>
        <p class="footer__attribution"><a class="footer__attribution" href="/attribution/"><span class="italic">Graphic resources (attribution) ⇲</span></a></p>
    </div>

</footer>