<!-- Hlavička - záhlaví -->

<header class="header">

    <div class="header__wrapper">
        <div class="header__brand-wrapper">
            <!-- <img class="header__logo" src="/images/key-icon-free2.png" alt="Ikona zámečnictví - set klíčů"> -->
            <h1 class="header__heading">Zámečnictví Svopok<br>Petr Pokorný</h1>
        </div>

        <div class="header__contact-wrapper">
            <a class="header__contact button" href="tel:607635633">
                <span class="header__span-call">Zavolejte na: </span><span class="header__span bold">607 635 633</span>
            </a>
            <div class="header__contact-other">
                <a href="mailto:sgt.poky@seznam.cz"><img class="header__icon" src="/images/email-icon2.png" alt="Ikona e-mailové schránky"></a>
                <a href="https://www.facebook.com/svopok" target="_blank"><img class="header__icon" src="/images/facebook-icon.png" alt="Ikona Facebooku"></a>
            </div>
        </div>
    </div>

    <nav class="menu">
        <ul class="menu__list">
            <li class="menu__item"><a class="menu__link menu__link--first" href="#onas">O&nbsp;nás</a></li>
            <li class="menu__item"><a class="menu__link" href="#sluzby">Služby</a></li>
            <li class="menu__item"><a class="menu__link" href="#recenze">Recenze</a></li>
            <li class="menu__item"><a class="menu__link menu__link--last" href="#kontakt">Kontakt</a></li>
        </ul>
    </nav>

    <div class="hero-section">
        <img src="/images/hero-img.jpg" alt="Hero section image, hands with keys">
    </div>

</header>