<section id="kontakt">

    <h2>Kontakt</h2>
    <p>
        Zámečnictví - Pokorný Petr<br>
        Kapitána Jaroše 29<br>
        360 06<br>
        Karlovy Vary - vedle OC Varyády
    </p>
    
    <p class="kontakt__text">
        telefon: <a href="tel:607635633">607 635 633</a><br>
        e-mail: <a href="mailto:sgt.poky@seznam.cz">sgt.poky@seznam.cz</a><br>
        Facebook: <a href="https://www.facebook.com/svopok">https://www.facebook.com/svopok</a>
    </p>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2552.499048022808!2d12.834987376607785!3d50.22658110345759!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a09984a32d2f45%3A0xcd8df3d6e5ab86c2!2sPetr%20Pokorn%C3%BD!5e0!3m2!1scs!2scz!4v1695482023987!5m2!1scs!2scz" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
</section>