<section id="onas">
    
    <h2>O nás</h2>

    <p>Vítáme Vás na stránkách našeho zámečnictví.</p>

    <div class="onas__wrapper">

        <div class="onas__wrapper-inner">
            
            <p><span class="bold">Zabýváme se:</span></p>
            <ul class="list">
                <li class="list-item">opravou, otevíráním a montáží zámků, autozámků a trezorů,</li>
                <li class="list-item">zhotovováním klíče dle zámku, </li>
                <li class="list-item">přestavěním více zámků na jeden klíč, </li>
                <li class="list-item">montážemi samozavíračů,</li>
                <li class="list-item">a drobnými zámečnickými pracemi.</li>
            </ul>
        </div>
    
        <img class="onas__image" src="/images/simple-key2.png" alt="A key in the blue background">

    </div>

    <p>Preferujeme individuální přístup a proto se plně orientujeme na potřeby a požadavky každého zákazníka. Naše dlouholeté
    zkušenosti v oboru Vám zaručují ty nejlepší <a href="#sluzby">služby</a>.</p>

    <p>Zprávy včetně fotodokumentace hotových výrobků v rámci našich zakázek pravidelně zveřejňujeme na našich
    <a href="https://www.facebook.com/svopok/" target="_blank">facebookových stránkách</a>.</p>

    <p>Neváhejte nás <a href="#kontakt">kontaktovat</a>, bude pro nás potěšením připravit Vám komplexní nabídku přesně podle Vašich potřeb.</p>

</section>