<section id="otvirackacena">

    <h2>Otvírací doba a ceník</h2>
    <p>Naše firma zajišťuje zámečnický servis dle níže uvedené otvírací doby:</p>

    <table>
        <thead>
            <th>
                <td>Otvírací doba</td>
            </th>
        </thead>
        <tbody>
            <tr>
                <td>pondělí</td>
                <td>8:00 – 19:00</td>
            </tr>
            <tr>
                <td>úterý</td>
                <td>8:00 – 17:00</td>
            </tr>
            <tr>
                <td>středa </td>
                <td>8:00 – 19:00</td>
            </tr>
            <tr>
                <td>čtvrtek</td>
                <td>8:00 – 17:00</td>
            </tr>
            <tr>
                <td>pátek </td>
                <td>8:00 – 16:00</td>
            </tr>
            <tr>
                <td>sobota</td>
                <td><span class="italic">pohotovost za zvláštní příplatek *</span></td>
            </tr>
            <tr>
                <td>neděle </td>
                <td><span class="italic">pohotovost za zvláštní příplatek *</span></td>
                </tr>
        </tbody>
    </table>

    <h3>Ceník</h3>
    <p>Naše ceny jsou <strong>smluvní</strong>. Do ceny našich služeb je zahrnuta:</p>
    <ul class="list">
        <li class="list-item">doprava</li>
        <li class="list-item">pořízení materiálu</li>
        <li class="list-item">servisní práce</li>
    </ul>

    <p>přičemž zákazník je na odhadovanou výši ceny upozorněn již před realizací zakázky.</p>

    <p>* cena o víkendu se odvíjí vždy od náročnosti požadované služby a záleží na individuální domluvě se zákazníkem</p>

</section>