<section id="recenze" class="recenze">

    <h2>Recenze</h2>
    <!-- <img src="obrazky/obrazek3.jpg"> -->
    <p>Recenze našich spokojených zákazníků:</p>

    <a href="https://g.co/kgs/KTigVF"><img class="recenze__image" src="/images/review1.png" alt="Review 1 image"></a>
    <a href="https://g.co/kgs/s8jwAV"><img class="recenze__image" src="/images/review2.png" alt="Review 2 image"></a>
    <a href="https://g.co/kgs/YaDJjm"><img class="recenze__image" src="/images/review3.png" alt="Review 3 image"></a>
    <a href="https://g.co/kgs/Fyf4w6"><img class="recenze__image" src="/images/review4.png" alt="Review 4 image"></a>

    <p>S dalšími Google recenzemi našich spokojených zákazníků se můžete seznámit <a href="https://www.google.com/search?q=z%C3%A1me%C4%8Dnictv%C3%AD+svopok+petr+pokorn%C3%BD&rlz=1C1ASUT_csCZ756CZ756&oq=z%C3%A1me%C4%8Dnictv%C3%AD+svopok+petr+pokorn%C3%BD&aqs=chrome..69i57j0i30i546j0i546j0i30i546j0i546j0i30i546.6513j0j7&sourceid=chrome&ie=UTF-8#lrd=0x47a09984a32d2f45:0xcd8df3d6e5ab86c2,1,,," target="_blank">zde</a>.</p>
    
</section>