<section id="sluzby">

    <h2>Služby</h2>
    <div class="sluzby__wrapper">
        <img class="sluzby__image" src="/images/locked-safe.png" alt="Locked safe">
        <div class="sluzby__text">
            <p>Naše zámečnictví zajišťuje montáž velkého množství druhů zámků. Nepracujeme pouze s klasickými zámky, ale umíme si
            poradit i s bezpečnostními zámky a vložkami. V současné době spolupracujeme s řadou firem i státních
            institucí a provádíme montáže zámků a vložek pro hotely, školy, firmy, pošty, pojišťovny, obchody či úřady.</p>
        
            <p>Našim zákazníkům pomáháme v situacích, kdy potřebují otevřít <strong>zámek
            jakéhokoli typu</strong>, poradíme si i s otevřením bezpečnostního zámku či bezpečnostní vložky dveří.</p>
        </div>
    </div>
    
</section>