<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="zámečnictví, Karlovy Vary, Svopok, Petr Pokorný">
        <meta name="author" content="Petr Pokorný, Karolína Pokorná">
        <meta name="description" content="Zámečnictví Svopok - Petr Pokorný v Karlových Varech. Nabízíme profesionální zámečnické služby a řešení v oblasti zabezpečení. Kontaktujte nás pro kvalitní služby.">
        <title>Zámečnictví Svopok - Petr Pokorný</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:ital@0;1&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>

        <div class="all-wrapper">

            {% include "partials/header-attribution.njk" %}

            <main class="main">

                {{ content|safe }}

            </main>

        </div>

        {% include "partials/footer.njk" %}

    </body>
    
</html>